html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: proxima-nova, sans-serif;
    color: white;
    margin-bottom: 60px;
    background-image: url("../img/hairSalon.jpg");
    background-color: rgba(0, 0, 0, 0.5); /* White with 50% transparency */
    background-blend-mode: darken;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .01em;
    margin-top: 50px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
}

#home-page-overview {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 24px;
    text-shadow: 1px 5px 30px rgba(0, 0, 0, 1);
}

#home-page-overview-disclaimer {
    font-size: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Affects all top-level links */
a {
    color: whitesmoke;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Helvetica Neue";
    letter-spacing: .05em;
    border-color: rgb(150, 150, 150);
    
}

a:hover {
    color: rgb(129, 166, 147);
}

/* Styles bottom of page links div */
#links {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Removes underline from bottom margin links */
#links a {
    margin-right: 10px;
    text-decoration: none;
}

/* Styles the div that holds the "no client/stylist" message */
#empty-value-div {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
}

/* Removes the txt dec on links that appear when lists are empty */
#inner-nav-link a {
    text-decoration: none;
    border-color: grey;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    font-weight: bold;
}

/* Removes bullets from all lists */
ul {
    list-style: none;
}

/* Removes padding from li/ul */
ul.client-stylist-link {
    padding-left: 0;
}