@{
    Layout = "_Layout";
}

<h1>Eau's Hair Salon</h1>

<div id="home-page-overview">
    <p>Welcome to Eau's Hair Salon! We are a full service salon located in the heart of Portland, Oregon. We offer a wide variety of services including haircuts, hair coloring, hair styling, and more. Our stylists are highly trained and experienced in all aspects of hair care. We also offer a full line of hair care products to help you maintain your new look at home. Come visit us today!</p>
    <p id="home-page-overview-disclaimer">Our salon is open Monday through Friday from 9am-5pm. We are located at 1234 NW 23rd Ave, Portland, OR 97210. You can reach us by phone at (503) 555-1234.
</div>

<div id="links">
    <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>

