@{
    Layout = "_Layout";
}

<h1 id="home-page-title">Eau Claire's Hair Salon</h1>

<div id="home-page-overview">
    <p>Welcome to Eau Claire's Hair Salon!</p>
    <p>
        This Salon Management System helps manage Client and Stylist information
        to help keep operations running smoothly.
    </p>
    <p id="home-page-overview-disclaimer">
        Use the links at the bottom of this page to navigate to the Client and
        Stylist pages.
    </p>
</div>

<div id="links">
    <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>

